@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700&family=Lexend:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Lexend", sans-serif;
}

@layer utilities {
  .kinetic-gradient {
    background: linear-gradient(135deg, #bfc2ff 0%, #000080 100%);
  }

  .glass-panel {
    background: rgba(53, 53, 53, 0.6);
    backdrop-filter: blur(20px);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #131313;
  color: #e5e2e1;
  overflow-x: hidden;
}

::selection {
  background-color: #bfc2ff;
  color: #181d8c;
}
